---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}

</div>

<div class="pagination">
  <ul>
  {% if page.next.url %}
      <li>
        <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
      </li>
  {% endif %}
  {% if page.previous.url %}
      <li>
        <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
      </li>
  {% endif %}
  </ul>
  <a href="#" class="top">Top</a>
</div>
